data/
external/
logs/
results/
weights/
tools/
submission/
backup/
.venvs/
.env
report/metadata.json
report/HW3_report.ipynb
report/figures/
*.pyc
__pycache__/
report/build/
report/*.aux
report/*.bbl
report/*.blg
report/*.log
report/*.out
report/*.toc
report/*.fls
report/*.fdb_latexmk
